<h1><%= @question.body %></h1>

<div class="question_details"><%= @question.details %></div>

<ul>
  <% @answers.each do |answer| %>
    <li><%= answer.body %> (<%= link_to "edit", edit_question_answer_path(@question, answer) %>, <%= link_to "delete", question_answer_path(@question, answer), method: :delete %>) </li>
  <% end %>
</ul>

<%= form_for [@question, @answer] do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Add Answer" %>
<% end %>


<div class="back">
  <%= link_to "back", "/questions/" %>
</div>
